#General:

*~
*.bak
*.o
*.a
*.user

#PSoC:

*.cycdx
*.cyfit
*.rpt
*.svd
*.lst

#Very specific:

execute-cop.cydsn/CortexM0/
execute-cop.cydsn/codegentemp/
execute-cop.cydsn/Generated_Source/
Backup/
execute-cop.cydsn/execute-cop_timing.html
execute-cop.cydsn/execute-cop.cyprj.*
execute-cop.cydsn/execute-cop-000.cywrk.JF
execute-cop.cydsn/Export/PSoCCreatorExportIDE.xml
execute-cop.cydsn/execute-cop.svd
execute-cop.cydsn/execute-cop.rpt
execute-cop.cydsn/execute-cop.cyfit
execute-cop.cydsn/execute-cop.cycdx
