execute-cop.cydsn/CortexM3/
execute-cop.cydsn/codegentemp/
execute-cop.cydsn/Generated_Source/
Backup/
execute-cop.cydsn/execute-cop_timing.html
execute-cop.cydsn/execute-cop.cyprj.Luke
execute-cop.cydsn/Export/PSoCCreatorExportIDE.xml
execute-cop.cydsn/execute-cop.svd
execute-cop.cydsn/execute-cop.rpt
execute-cop.cydsn/execute-cop.cyfit
execute-cop.cydsn/execute-cop.cycdx
